data/ath.tif filter=lfs diff=lfs merge=lfs -text
data/cat.tif filter=lfs diff=lfs merge=lfs -text
data/terrain.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1192_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1194_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2019_2735-1197_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2019_2735-1198_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2735-1191_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2735-1196_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1198_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1194_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1197_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1193_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1191_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1197_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1193_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1195_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1196_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1191_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1192_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1195_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1191_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2020_2736-1198_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2735-1193_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2735-1195_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1194_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1197_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1196_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1195_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2735-1194_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2736-1196_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2737-1191_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1198_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1198_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2735-1192_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1192_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1193_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2738-1195_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1192_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1193_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1194_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1196_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
data/tiles/swissalti3d_2023_2739-1197_0.5_2056_5728.tif filter=lfs diff=lfs merge=lfs -text
src/off_grid/path.vtk filter=lfs diff=lfs merge=lfs -text
data/mesh.vtk filter=lfs diff=lfs merge=lfs -text
data/mesh_centroids.vtk filter=lfs diff=lfs merge=lfs -text
